/* 루트 스타일 설정 */
.admin-container, .modal.admin {
	--bs-primary: #213079;
	--bs-secondary: #6C757D;
	--bs-success: #198754;
	--bs-info: #2494D3;
	--bs-warning: #FFC107;
	--bs-danger: #FF0000;
	--bs-primary-rgb: 33, 48, 121;
	--bs-secondary-rgb: 108, 117, 125;
	--bs-success-rgb: 25, 135, 84;
	--bs-info-rgb: 36, 148, 211;
	--bs-warning-rgb: 255, 193, 7;
	--bs-danger-rgb: 255, 0, 0;
	--bs-body-font-size: 14px;
	--bs-body-font-weight: 400;
	--bs-body-line-height: 1.5;
	--bs-body-color: #040404;
	--bs-body-color-rgb: 4, 4, 4;
	--bs-body-bg: #FFFFFF;
	--bs-body-bg-rgb: 255, 255, 255;
	--bs-emphasis-color: #0C182C;
	--bs-emphasis-color-rgb: 12, 24, 44;
	--bs-secondary-color: rgba(33, 37, 41, 0.75);
	--bs-secondary-color-rgb: 33, 37, 41;
	--bs-secondary-bg: #E9ECEF;
	--bs-secondary-bg-rgb: 233, 236, 239;
	--bs-tertiary-color: rgba(33, 37, 41, 0.5);
	--bs-tertiary-color-rgb: 33, 37, 41;
	--bs-tertiary-bg: #F8F9FA;
	--bs-tertiary-bg-rgb: 248, 249, 250;
	--bs-heading-color: #000000;
	--bs-link-color: var(--gc-outline-primary);
	--bs-link-color-rgb: 66, 104, 145;
	--bs-link-decoration: underline;
	--bs-link-hover-color: var(--gc-outline-primary);
	--bs-link-hover-color-rgb: 66, 104, 145;
	--bs-link2-color: #666666;
	--bs-link2-color-rgb: 102, 102, 102;
	--bs-link2-decoration: none;
	--bs-link2-hover-color: #666666;
	--bs-link2-hover-color-rgb: 102, 102, 102;
	--bs-border-width: 1px;
	--bs-border-style: solid;
	--bs-border-color: #DDDDDD;
	--bs-border-color-translucent: rgba(0, 0, 0, 0.175);
	--bs-border-radius-sm: 4px;
	--bs-border-radius: 0;
	--bs-focus-ring-width: 0;
	--bs-focus-ring-opacity: 0;
	--gc-signin-body-bg: #EAF2FD;
	--gc-signin-items-bg: var(--bs-body-bg);
	--gc-signin-items-image: url(@/assets/image/theme-light/signin_bg2.png);
	--gc-lnb-bg: #262B44;
	--gc-lnb-border: #262B44;
	--gc-icon-lnb-bg: #607BFF;
	--gc-card-lnb-bg1: #F0F0F0;
	--gc-offcanvas-bg: #FFFFFF;
	--gc-switch-bg: #AAAAAA;
	--gc-offcanvas-alarm-color: #FFFFFF;
	--gc-offcanvas-alarm-bg: rgba(48, 56, 95, 0.9);
	--gc-item-bg: 48, 56, 95;
	--gc-item-active-bg: 12, 48, 182;
	--gc-item-border: #7D87B8;
	--gc-outline-primary: #426891;
	--gc-outline-primary-bg: #EFF6FF;
	--gc-outline-primary-border: #9EB7D2;
	--gc-outline-primary-icon: #8BA7C5;
	--gc-secondary: #000000;
	--gc-secondary-bg: #D9D9D9;
	--gc-secondary-border: #D9D9D9;
	--gc-favorite: #FFFFFF;
	--gc-favorite-bg: #FF8B36;
	--gc-favorite-border: #FF8B36;
	--gc-th-bg: #EFF6FF;
	--gc-map-bg: #B8C4CD;
	--gc-nav-link-bg: #DDDDDD;
	--gc-score4: #444444;
	--gc-page-link-bg: #F4F4F4;
	--gc-carousels-bg: #F0F0F0;
	--gc-carousels-image: url(@/assets/image/theme-light/noimage.svg);
	--gc-range-bg1: #4A5DB9;
	--gc-range-bg2: #E2E2E2;
	--gc-range-bg3: #CBD4FF;
	--gc-range-bg4: #759EC3;
	--gc-range-bg5: #182B8B;
	--gc-header-bg1: #262B44;
	--gc-search-bg: #F2F2F2;
	--gc-total-color: #2494D3;
	--gc-table1-bg: #D6E8FF;
	--gc-badge-disabled-bg: #CFCFCF;
	--gc-check-group-bg: #E5E5E5;
	--gc-btn-offcanvas-close: #ECEFF6;
	--gc-map-guide2-bg: #FFFFFF;
	--gc-collapse-control1-bg: 255, 255, 255;
	--gc-collapse-control1-opacity: 0.8;
	--gc-collapse-control4-bg: 255, 255, 255;
	--gc-collapse-control4-opacity: 0.8;
	--gc-national-color: #62626E;
	--gc-pointer-black: 0, 0, 0;
	--gc-bg-player-dropdown: 26, 31, 60;
	--gc-slide-number: #4F5A7F;
	--gc-text1: #426891;
	--gc-text2: #182B8B;
	--gc-text3: #182B8B;
	--gc-text4: #D1D9FF;
	--gc-bg1: #666666;
	--gc-bg2: #FFFFFF;
	--gc-icon-bg1: #8B98C5;
	--gc-calendar-legend1: #FFE8D2;
	--gc-calendar-legend2: #D4DCFF;
	--gc-calendar-legend3: #D0FFEE;
	--gc-calendar-legend4: #FFD0D0;
	--gc-calendar-legend5: #D4F0FF;
	--gc-calendar-legend6: #E6DAFF;
	--gc-calendar-legend7: #D9D9D9;
	--gc-filter-bg-rgba: 255, 255, 255, 0.5;
	--gc-border-color1: #AAAAAA;
	--gc-border-color2: #72799E;
	--gc-logo-sm: url(@/assets/image/theme-light/logo_kcg_sm.svg);
	--gc-form-control-id: url(@/assets/image/theme-light/user.svg);
	--gc-form-control-password: url(@/assets/image/theme-light/password.svg);
	--gc-icon-certification1: url(@/assets/image/theme-light/singin_img1.svg);
	--gc-icon-certification2: url(@/assets/image/theme-light/singin_img2.svg);
	--gc-icon-question-bg: #A4C2EA;
	--gc-icon-question-border: #A4C2EA;
	--gc-info-text: #666666;
	--gc-info-bg: #F5F5F5;
	--gc-icon-search2: url(@/assets/image/theme-light/search2.svg);
	--gc-icon-refresh2: url(@/assets/image/theme-light/refresh2.svg);
	--gc-btn-disabled-color: #FFFFFF;
	--gc-btn-disabled-bg: #6C757D;
	--gc-btn-disabled-border: #6C757D;
}

/* 공통 */
.mt-20 {
	margin-top: 20px;
}

.admin-container, .modal.admin {
	/* 버튼 요소 */
	.btn {
		--mpc-btn-border-radius: 0;
		--mpc-btn-padding-x: 0.75rem;
		--mpc-btn-font-size: 14px;
		--mpc-btn-font-weight: 400;
		--mpc-btn-box-shadow: inset 0 0 0 rgba(255, 255, 255, 0), 0 1px 1px rgba(0, 0, 0, 0);
		--mpc-btn-active-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
		&.mw-auto {
			min-width: auto;
		}
		&.mw-80px {
			min-width: 80px;
		}
	}
	.btn-lg,
		//.btn-group-lg > .btn
	{
		--mpc-btn-font-size: 16px;
		--mpc-btn-font-weight: 600;
		--mpc-btn-border-radius: 0;
	}
	.btn-sm,
		//.btn-group-sm > .btn
	{
		--mpc-btn-font-size: 13px;
		--mpc-btn-font-weight: 400;
		--mpc-btn-border-radius: 0;
	}
	.btn-xs,
		//.btn-group-xs > .btn
	{
		--mpc-btn-padding-x: 4px;
		--mpc-btn-padding-y: 3px;
		--mpc-btn-font-size: 12px;
		--mpc-btn-font-weight: 400;
		--mpc-btn-border-radius: 0;
		line-height: 1.2;
	}
	/* 모달 닫기 버튼 close */
	.btn-close {
		width: 32px;
		height: 32px;
		padding: 0;
		background-size: 16px;
		&:focus {
			box-shadow: 0 0 0 0 rgba(13, 110, 253, 0);
		}
		&.btn-sm {
			width: 20px;
			height: 20px;
			background-size: 60%;
		}
		&.btn-white {
			filter: var(--bs-btn-close-white-filter);
		}
	}
	.btn-primary {
		--mpc-btn-color: #FFFFFF;
		--mpc-btn-bg: var(--bs-primary);
		--mpc-btn-border-color: var(--bs-primary);
		--mpc-btn-hover-color: #FFFFFF;
		--mpc-btn-hover-bg: var(--bs-primary);
		--mpc-btn-hover-border-color: var(--bs-primary);
		--mpc-btn-active-color: #FFFFFF;
		--mpc-btn-active-bg: var(--bs-primary);
		--mpc-btn-active-border-color: var(--bs-primary);
		--mpc-btn-disabled-color: var(--gc-btn-disabled-color);
		--mpc-btn-disabled-bg: var(--gc-btn-disabled-bg);
		--mpc-btn-disabled-border-color: var(--gc-btn-disabled-border);
	}
	.btn-secondary {
		--mpc-btn-color: var(--gc-secondary);
		--mpc-btn-bg: var(--gc-secondary-bg);
		--mpc-btn-border-color: var(--gc-secondary-border);
		--mpc-btn-hover-color: var(--gc-secondary);
		--mpc-btn-hover-bg: var(--gc-secondary-bg);
		--mpc-btn-hover-border-color: var(--gc-secondary-border);
		--mpc-btn-active-color: var(--gc-secondary);
		--mpc-btn-active-bg: var(--gc-secondary-bg);
		--mpc-btn-active-border-color: var(--gc-secondary-border);
		--mpc-btn-disabled-color: var(--gc-btn-disabled-color);
		--mpc-btn-disabled-bg: var(--gc-btn-disabled-bg);
		--mpc-btn-disabled-border-color: var(--gc-btn-disabled-border);
	}
	.btn-outline-primary {
		--mpc-btn-color: var(--gc-outline-primary);
		--mpc-btn-bg: var(--gc-outline-primary-bg);
		--mpc-btn-border-color: var(--gc-outline-primary-border);
		--mpc-btn-hover-color: var(--gc-outline-primary);
		--mpc-btn-hover-bg: var(--gc-outline-primary-bg);
		--mpc-btn-hover-border-color: var(--gc-outline-primary-border);
		--mpc-btn-active-color: var(--gc-outline-primary);
		--mpc-btn-active-bg: var(--gc-outline-primary-bg);
		--mpc-btn-active-border-color: var(--gc-outline-primary-border);
		--mpc-btn-disabled-color: var(--gc-btn-disabled-color);
		--mpc-btn-disabled-bg: var(--gc-btn-disabled-bg);
		--mpc-btn-disabled-border-color: var(--gc-btn-disabled-border);
		--mpc-gradient: none;
		i.bi {
			color: var(--gc-outline-primary-icon);
		}
	}
	.btn-icon-user {
		--mpc-btn-padding-x: 0;
		--mpc-btn-padding-y: 0;
		--mpc-btn-font-weight: 400;
		--mpc-btn-color: #FFFFFF;
		--mpc-btn-bg: rgba(var(--gc-item-bg), 0.8);
		--mpc-btn-border-color: var(--gc-item-border);
		--mpc-btn-hover-color: #FFFFFF;
		--mpc-btn-hover-bg: var(--gc-lnb-bg);
		--mpc-btn-hover-border-color: var(--gc-lnb-border);
		--mpc-btn-active-bg: var(--gc-lnb-bg);
		--mpc-btn-active-border-color: var(--gc-lnb-border);
		--mpc-btn-active-color: #FFFFFF;
		--mpc-btn-disabled-bg: rgba(var(--gc-item-bg), 0.8);
		--mpc-btn-disabled-border-color: var(--gc-item-border);
		display: inline-block;
		width: 30px;
		height: 30px;
		&.active {
			.icon-control3 {
				transform: rotate(180deg);
			}
		}
		&.btn-bi {
			.bi {
				font-size: 16px;
				line-height: 33px;
			}
		}
		&.dropdown-toggle::after {
			display: none;
		}
		&.btn-user-alarm {
			position: relative;
			.badge-new {
				position: absolute;
				top: 5px;
				right: 4px;
				display: block;
				width: 8px;
				height: 8px;
				background-color: var(--bs-warning);
				border-radius: 50%;
			}
		}
	}
	.btn-icon-control {
		--mpc-btn-padding-x: 0;
		--mpc-btn-padding-y: 0;
		--mpc-btn-font-weight: 400;
		--mpc-btn-color: #FFFFFF;
		--mpc-btn-bg: rgba(var(--gc-item-bg), 0.8);
		--mpc-btn-border-color: var(--gc-item-border);
		--mpc-btn-hover-color: #FFFFFF;
		--mpc-btn-hover-bg: rgba(var(--gc-item-active-bg), 0.8);
		--mpc-btn-hover-border-color: var(--gc-item-border);
		--mpc-btn-active-bg: rgba(var(--gc-item-active-bg), 0.8);
		--mpc-btn-active-border-color: var(--gc-item-border);
		--mpc-btn-active-color: #FFFFFF;
		--mpc-btn-disabled-bg: rgba(var(--gc-item-bg), 0.8);
		--mpc-btn-disabled-border-color: var(--gc-item-border);
		display: inline-block;
		width: 30px;
		height: 30px;
		&.active {
			.icon-control3 {
				transform: rotate(180deg);
			}
		}
		&.btn-bi {
			.bi {
				font-size: 16px;
				line-height: 33px;
			}
		}
		&.dropdown-toggle::after {
			display: none;
		}
	}
}

/* 통합관리 지도 */
#integrationMap {
	overflow-y: hidden;
	position: absolute;
	background: transparent;
	width: 100%;
	height: 100%;
}

/* 메인 레이아웃 */
.admin-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-color: var(--gc-search-bg);
	min-width: 1700px;
	/* 헤더 navbar */
	.navbar {
		--bs-navbar-padding-x: 0;
		--bs-navbar-padding-y: 0;
		--mpc-navbar-padding-y: 0;
		--bs-navbar-color: #FFFFFF;
		--bs-navbar-hover-color: #23B0FF;
		--bs-navbar-disabled-color: #666666;
		--bs-navbar-active-color: #23B0FF;
		--bs-navbar-brand-padding-y: 0;
		--bs-navbar-brand-margin-end: 20px;
		--bs-navbar-brand-font-size: 16px;
		--bs-navbar-brand-color: #FFFFFF;
		--bs-navbar-brand-hover-color: #FFFFFF;
		--bs-navbar-nav-link-padding-x: 10px;
		display: flex;
		align-items: center;
		height: 80px;
		background-color: var(--gc-header-bg1);
		/* 헤더 로고 */
		.navbar-brand {
			display: flex;
			align-items: center;
			gap: 10px;
			padding-left: 20px;
			.logo-admin {
				display: block;
				width: 120px;
				height: 40px;
				background-image: url("@/assets/image/admin/header/logo.svg");
				background-size: 120px;
				background-repeat: no-repeat;
				background-position: center center;
			}
			.name {
				font-weight: 600;
			}
		}
		.navbar-nav {
			height: 100%;
			/* 헤더 오른쪽 로그아웃, 프로필 영역 */
			&.nav-gnb {
				.nav-link {
					padding-left: 15px;
					padding-right: 15px;
					&:hover,
					&:focus {
						color: #FFFFFF;
					}
					&.nav-bg2 {
						background-color: #2494D3;
					}
					&.nav-login {
						width: 213px;
					}
					.icon-nav {
						margin-right: 5px;
					}
				}
			}
			.nav-link {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100%;
				white-space: nowrap;
				font-size: 16px;
				font-weight: 600;
				color: #FFFFFF;
				&.active {
					position: relative;
					&::after {
						content: "";
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						height: 7px;
						background-color: #23B0FF;
					}
				}
			}
		}
	}
	.admin-content {
		width: 100%;
		height: calc(100% - 80px);
		display: flex;
		/* 왼쪽 네비 영역 */
		.lnb {
			position: relative;
			display: flex;
			background-color: var(--bs-body-bg);
			flex-direction: column;
			z-index: 3;
			width: 230px;
			height: 100%;
			.lnb-menu-title {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100px;
				font-size: 28px;
				font-weight: 600;
				border-bottom: 4px solid #23B0FF;
			}
			.lnb-menu {
				.list-group {
					--bs-list-group-color: var(--bs-heading-color);
					--bs-list-group-item-padding-x: 20px;
					--bs-list-group-item-padding-y: 15px;
					--bs-list-group-action-color: #2494D3;
					--bs-list-group-action-hover-color: #2494D3;
					--bs-list-group-action-hover-bg: var(--bs-body-bg);
					--bs-list-group-action-active-color: #2494D3;
					--bs-list-group-action-active-bg: var(--bs-body-bg);
					--bs-list-group-disabled-color: #666666;
					--bs-list-group-disabled-bg: var(--bs-body-bg);
					--bs-list-group-active-color: #2494D3;
					--bs-list-group-active-bg: var(--bs-body-bg);
					--bs-list-group-active-border-color: var(--bs-list-group-border-color);
					a {
						font-size: 18px;
						font-weight: 600;
						padding: 15px 20px;
						&:active,
						&.active {
							font-weight: 600;
							//text-decoration: underline;
						}
					}
				}
			}
		}
		/* 메인 컨텐츠 영역 */
		.contents {
			position: relative;
			display: flex;
			flex-direction: column;
			flex: 1 0 0;
			height: 100%;
			padding: 0 20px 20px;
			.contents-items {
				background-color: var(--bs-body-bg);
				width: 100%;
				height: 100%;
				padding: 30px 40px;
				overflow: auto;
				.contents-title {
					display: flex;
					align-items: center;
					font-size: 28px;
					font-weight: 500;
					color: var(--bs-heading-color);
				}
				.contents-info {
					font-size: 16px;
				}
				/* 검색 창 ex) 사용자정보 전부 */
				.search-group {
					padding: 20px;
					border-top: 1px solid #6A6A6A;
					background-color: var(--gc-search-bg);
					.btn {
						word-break: keep-all;
					}
					.form-item-group {
						display: flex;
						align-items: center;
						height: 35px;
						.form-label {
							font-size: 16px;
							font-weight: 700;
							word-break: keep-all;
							white-space: nowrap;
							margin-bottom: 0;
							padding-right: 10px;
						}
						.form-control, .form-select {
							border: 0;
							font-size: 16px;
						}
						.check-group {
							padding: 10px;
							background-color: var(--gc-check-group-bg);
							.form-check {
								margin-bottom: -5px;
							}
						}
					}
				}
				/* 통합관리 상단 현황 리스트 */
				.pollution-status-group1 {
					.card-header {
						display: flex;
						align-items: center;
						.title-info {
							display: flex;
							align-items: center;
							gap: 8px;
							font-size: 16px;
							font-weight: 600;
							.title-value {
								font-size: 14px;
								color: var(--bs-secondary);
								span {
									font-size: 20px;
									font-weight: 600;
									color: var(--bs-primary);
									padding-right: 4px;
								}
							}
						}
					}
					.card-body {
						display: flex;
						align-items: center;
						&.border-bottom {
							background-color: rgba(4, 4, 4, 0.01);
						}
						.body-info {
							display: flex;
							flex-wrap: wrap;
							align-items: center;
							width: 100%;
							> .body-info-item {
								display: flex;
								flex: 0 0 auto;
								width: 33.33333333%;
								justify-content: center;
								align-items: center;
								gap: 4px;
							}
						}
						.body-info1 {
							font-size: 16px;
							.info-value {
								font-size: 14px;
								color: var(--bs-secondary);
								span {
									font-size: 20px;
									font-weight: 600;
									color: var(--bs-primary);
									padding-right: 4px;
								}
							}
						}
						.body-info2 {
							padding: 5px 0;
							.info-value {
								font-size: 12px;
								color: var(--bs-secondary);
								span {
									font-size: 18px;
									font-weight: 600;
									color: var(--bs-primary);
									padding-right: 4px;
								}
							}
						}
					}
				}
				/* 통합관리 중단 차트 */
				.pollution-status-group2 {
					.card-header {
						display: flex;
						align-items: center;
						padding: 4px 10px;
						background-color: rgba(4, 4, 4, 0.03);
						.title-info {
							display: flex;
							align-items: center;
							gap: 8px;
							font-size: 16px;
							color: #FFFFFF;
							line-height: 1;
							font-weight: 600;
							.title-value {
								.badge {
									border: 1px solid #FFFFFF;
								}
							}
						}
					}
					.card-body {
						padding: 10px;
						.pollution-statu-info {
							dl {
								display: flex;
								flex-wrap: wrap;
								margin-bottom: 0;
								dt {
									width: 60px;
								}
								dd {
									width: calc(100% - 60px);
								}
							}
						}
					}
				}
				/* 통합관리 하단 */
				.pollution-status-group3 {
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					gap: 5px;
					width: 100%;
					.info-item {
						display: flex;
						flex: 0 0 auto;
						width: calc(50% - 4px);
						justify-content: center;
						align-items: center;
						gap: 8px;
						font-size: 18px;
						color: #FFFFFF;
						padding: 10px;
						.info-name {
							font-weight: 600;
						}
						.info-value {
							font-size: 14px;
							span {
								font-size: 24px;
								font-weight: 600;
								color: #FFE784;
								padding-right: 4px;
							}
						}
						&.bg1 {
							background-color: #2494D3;
						}
						&.bg2 {
							background-color: #262B44;
						}
					}
				}
			}
		}
	}
	/* 브래드 크럼 */
	.breadcrumb-group {
		nav {
			& .breadcrumb {
				--bs-breadcrumb-padding-y: 10px;
				--mpc-breadcrumb-margin-bottom: 0;
				--bs-breadcrumb-margin-bottom: 0;
				--bs-breadcrumb-divider-color: #999999;
				--bs-breadcrumb-item-padding-x: 10px;
				--bs-breadcrumb-item-active-color: var(--bs-heading-color);
				padding: 10px 0;
				a {
					text-decoration: none;
					color: #666666;
				}
			}
		}
	}
	/* 페이지네이션 */
	.pagination-group {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 20px;
		.pagination {
			--mpc-pagination-active-bg: #213079;
			--mpc-pagination-active-color: #FFFFFF;
			gap: 10px;
		}
		.pagination-lg {
			--bs-pagination-padding-x: 20px;
			--bs-pagination-padding-y: 12px;
			--bs-pagination-font-size: 16px;
		}
		.pagination-sm {
			--bs-pagination-padding-x: 8px;
			--bs-pagination-padding-y: 4px;
			--bs-pagination-font-size: 12px;
		}
		.page-link.active,
		.active > .page-link {
			border-radius: 3px;
		}
		.page-item .page-link {
			min-width: 24px;
			height: 26px;
		}
		.page-item.page-control .page-link {
			background-color: var(--gc-page-link-bg);
			border-radius: 3px;
			line-height: 0.7;
			overflow: hidden;
			span {
				display: inline-block;
				font-size: 24px;
			}
		}
	}
}

/* 세로 구분선 */
.divider-vertical {
	background-color: var(--gc-border-color1);
	display: inline-block;
	width: 1px;
	&.height-16 {
		height: 16px;
	}
}

/* 수집 작업 등록 모달 */
.datetime-group {
	display: flex;
	flex-direction: column;
	gap: 30px;
	width: 100%;
	padding-bottom: 10px;
	.datetime-item {
		display: flex;
		align-items: center;
		width: 100%;
		.picker {
			display: flex;
			justify-content: space-around;
			flex: 1 0 0;
			.progress-group {
				width: 95%;
			}
		}
		.unit {
			flex: 0 0 auto;
			width: auto;
			margin-left: 20px;
			font-weight: 700;
		}
	}
}

/* 관리자 아이콘 공통 클래스 네임 */
.icon-admin {
	display: inline-block;
	background-position: center center;
	background-repeat: no-repeat;
	&.icon-mdi {
		width: 20px;
		height: 20px;
		/* QA Detail 참고 */
		&.icon-grid {
			width: 16px;
			height: 16px;
		}
		/* QA에 주석처리 */
		&.icon-arrow-right-bottom {
			width: 12px;
			height: 12px;
		}
	}
	/* 여러 버튼 아이콘 ex) 검색 ,초기화 */
	&.icon-button {
		width: 18px;
		height: 18px;
		/* 공통 코드 관리 중복체크 아이콘 */
		&.icon-check {
			background-image: url(@/assets/image/admin/check.svg);
		}
		/* 적재관리 새로고침 아이콘 */
		&.icon-refresh2 {
			background-image: url(@/assets/image/admin/refresh2.svg);
		}
		/* 안씀 */
		/* 검색 공통 돋보기 아이콘 */
		&.icon-search2 {
			background-image: var(--gc-icon-search2);
			background-position: center right;
			background-size: 14px;
		}
		/* QA 주석처리 */
		//&.icon-arrow-right {
		//	//background-image: url("@/custom/assets/img/admin/arrow1_right.svg");
		//	background-size: 10px;
		//}
	}
	/* 어드민 헤더 로그아웃,프로필 아이콘 */
	&.icon-nav {
		width: 24px;
		height: 24px;
		/* 프로필 */
		&.icon-user {
			background-image: url(@/assets/image/admin/header/user.svg);
		}
		/* 로그아웃 */
		&.icon-logout {
			background-image: url(@/assets/image/admin/header/logout.svg);
		}
	}
	/* 수집 작업 등록 모달 수집 형태 정보 아이콘 */
	&.icon-information {
		background-image: url(@/assets/image/admin/information.svg);
		width: 30px;
		height: 30px;
	}
	/* 브래드크럼 홈 아이콘 */
	&.icon-home {
		background-image: url(@/assets/image/admin/home.svg);
		width: 18px;
		height: 18px;
	}
	/* 게시판 이전글,다음글 화살표,게시판 상세 파일 아이콘 아이콘 */
	&.icon-form {
		width: 20px;
		height: 20px;
		&.icon-clip {
			background-image: url(@/assets/image/admin/clip.svg);
		}
		&.icon-arrow-up {
			background-image: url(@/assets/image/admin/arrow_up.svg);
		}
		&.icon-arrow-down {
			background-image: url(@/assets/image/admin/arrow_down.svg);
		}
	}
}

/* 게시판 -> 등록/수정 첨부파일 리스트 스타일 */
.list-style-square {
	list-style: none;
	padding: 0;
	margin: 0;
	li,
	dt {
		position: relative;
		padding-left: 8px;
		&::before {
			content: "";
			position: absolute;
			top: 7px;
			left: 0;
			display: block;
			width: 4px;
			height: 4px;
			background-color: #888888;
		}
	}
}

/* 수집 작업 등록 모달 진행바 */
.progress-group {
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	.progress-bar-track {
		position: absolute;
		top: 0;
		left: 0;
		height: 5px;
		border-radius: 15px;
		background-color: #2494D3;
		z-index: 3;
	}
	.data {
		position: absolute;
		top: -17px;
		right: -28px;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 40px;
		width: 40px;
		border-radius: 50%;
		color: #FFFFFF;
		font-size: 16px;
		font-weight: 700;
		background-color: #2494D3;
		cursor: pointer;
	}
	input[type="range"] {
		-webkit-appearance: none;
		appearance: none;
		width: 100%;
		height: 5px;
		border-radius: 15px;
		outline: none;
		background: #DDDDDD;
	}
	input[type="range"]::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		position: relative;
		height: 40px;
		width: 40px;
		background-color: transparent;
		cursor: pointer;
		border-radius: 50%;
		z-index: 2;
	}
	input[type="range"]::-moz-range-thumb {
		-moz-appearance: none;
		appearance: none;
		position: relative;
		height: 40px;
		width: 40px;
		background-color: transparent;
		cursor: pointer;
		border-radius: 50%;
		border: none;
		z-index: 2;
	}
}

/* 적재 관리 현재 상태 카운트 영역 */
.search-status-group {
	display: flex;
	gap: 5px;
	height: 100%;
	.search-status-item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 130px;
		height: 100%;
		color: #FFFFFF;
		text-align: center;
		&.bg1 {
			background-color: #262B44;
		}
		&.bg2 {
			background-color: #2494D3;
		}
		&.bg3 {
			background-color: #AAAAAA;
		}
		.name {
			font-size: 15px;
			font-weight: 500;
		}
		.data {
			font-size: 22px;
			font-weight: 700;
		}
	}
}

/* 공지기간 기간 설정 영역 */
.date-range-group {
	display: flex;
	align-items: center;
	gap: 5px;
	width: 100%;
	.form-control {
		flex: 1 0 0;
	}
	.during {
		flex: 0 0 auto;
		width: auto;
	}
}

.input-group {
	> .date-range-group {
		flex: 1 1 auto;
		min-width: 0;
		position: relative;
		width: 1%;
	}
}

.form-control {
	font-size: 14px;
	font-weight: 400;
}

/* 첨부 파일 영역 */
.form-control-file {
	.btn-file {
		position: relative;
		overflow: hidden;
		width: 75px;
		.text {
			position: relative;
			display: flex;
			align-items: center;
			word-break: keep-all;
			white-space: nowrap;
		}
		input[type=file] {
			position: absolute;
			top: 0;
			right: 0;
			display: block;
			min-width: 100%;
			min-height: 100%;
			text-align: right;
			filter: alpha(opacity=0);
			opacity: 0;
			outline: none;
			background: #FFFFFF;
			cursor: inherit;
		}
	}
}

/* 셀렉트 ex) 공지사항 제목+내용 */
.form-select {
	font-size: 14px;
	&.width-auto {
		flex: 0 0 auto;
		width: auto;
	}
}

/* 체크박스,라디오박스 ex) 메뉴관리,수집 작업 등록 모달 */
.modal.admin .form-check-input {
	border-color: #DDDDDD;
}

.form-check-input:checked {
	background-color: #2494D3;
	border-color: #2494D3;
}

/* 테이블 감싸는 공통 클래스 네임 */
.forms-group {
	border-top: 1px solid #6A6A6A;
	&.border-top-none {
		border-top: 0;
	}
	table {
		thead th {
			border-top: 0;
			border-bottom: 1px solid var(--bs-border-color);
		}
		th,
		td {
			padding: 8px 10px;
		}
		th {
			font-weight: 600;
			background-color: #EFF6FF;
			vertical-align: middle;
		}
		td {
			&.bg-detail {
				background-color: var(--gc-search-bg);
			}
			.form-control {
				border: 1px solid #DDDDDD;
			}
			.form-select {
				border-color: #DDDDDD;
			}
		}
	}
}

/* 메인 컨텐트 요소들 레이아웃 */
.grid-group {
	.grid-header {
		display: flex;
		align-items: center;
		padding: 0 0 5px 0;
		.title {
			font-size: 22px;
			font-weight: 700;
			word-break: keep-all;
			white-space: nowrap;
			&.size-16 {
				font-size: 16px;
			}
		}
		.text-total {
			span {
				font-weight: 600;
				color: #213079;
			}
		}
		.right {
			margin-left: auto;
		}
		.buttons {
			display: flex;
			align-items: center;
			gap: 5px;
			.btn {
				min-width: 80px;
			}
			.input-group {
				.form-control {
					border-color: #DDDDDD;
				}
			}
		}
	}
	.realgrid-group {
		border-top: 1px solid #6A6A6A;
		&.border-top-none {
			border-top: 0;
		}
	}
	table {
		th,
		td {
			padding: 4px 10px;
		}
		th {
			font-weight: 700;
			background-color: var(--gc-th-bg);
			vertical-align: middle;
		}
		thead th {
			border-top: 0;
			border-bottom: 1px solid var(--bs-border-color);
		}
	}
}

/* 빨간색 필수 표시 ex) 권한관리 등록 */
.icon-require {
	position: relative;
	display: inline-block;
	width: 10px;
	height: 14px;
	&::before {
		content: "*";
		position: absolute;
		top: 0;
		left: 0;
		display: inline-block;
		width: 10px;
		height: 14px;
		color: #FF0000;
	}
}

/* 컨텐트 공통 레이아웃 */
.items-group {
	display: flex;
	flex-direction: column;
	.header {
		display: flex;
		align-items: center;
		gap: 20px;
		padding-bottom: 8px;
		&.border-bottom {
			border-bottom: 1px solid #6A6A6A;
		}
		.title {
			font-size: 22px;
			font-weight: 700;
			word-break: keep-all;
			white-space: nowrap;
			&.size-16 {
				font-size: 16px;
			}
		}
		.left {
			display: flex;
			align-items: center;
			gap: 10px;
			.form-select {
				border: 1px solid #DDDDDD;
				font-size: 14px;
			}
		}
		.right {
			margin-left: auto;
			display: flex;
			align-items: center;
			gap: 10px;
		}
	}
	.footer {
		display: flex;
		align-items: center;
		gap: 20px;
		padding-top: 30px;
		.left {
			display: flex;
			align-items: center;
			gap: 10px;
		}
		.right {
			margin-left: auto;
			display: flex;
			align-items: center;
			gap: 10px;
			/* 답변등록 버튼 영역 */
			.buttons {
				.btn:first-of-type {
					margin-right: 8px;
				}
			}
		}
	}
}

.gcsc-wrap {
	display: flex;
	width: 100%;
	height: 100%;
	background-color: var(--bs-body-bg);
	color: var(--bs-body-color);
	.lnb {
		position: fixed;
		display: flex;
		flex-direction: column;
		width: 40px;
		height: 100%;
		background-color: var(--gc-lnb-bg);
		border-right: 1px solid var(--gc-lnb-border);
		z-index: 11;
		.lnb-top {
		}
		.lnb-bottom {
			margin-top: auto;
			.icon-lnb {
				background-color: var(--gc-icon-lnb-bg);
			}
		}
		.btn.btn-lnb {
			--bs-btn-color: transparent;
			--bs-btn-bg: transparent;
			--bs-btn-border-color: transparent;
			--bs-btn-hover-color: transparent;
			--bs-btn-hover-bg: transparent;
			--bs-btn-hover-border-color: transparent;
			--bs-btn-active-color: rgba(var(--gc-item-active-bg), 1);
			--bs-btn-active-bg: rgba(var(--gc-item-active-bg), 1);
			--bs-btn-active-border-color: rgba(var(--gc-item-active-bg), 1);
			--bs-btn-disabled-color: transparent;
			--bs-btn-disabled-bg: transparent;
			--bs-btn-disabled-border-color: transparent;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 40px;
			height: 40px;
			padding: 0;
		}
	}
	.contents {
		position: fixed;
		top: 0;
		left: 40px;
		display: block;
		width: calc(100% - 40px);
		height: 100%;
	}
}
