/*
  설명: 맵 스타일
*/
@use 'layout' as l;
@use 'font' as f;

#baseMap {
	overflow-y: hidden;
	position: fixed;
	background: transparent;
	width: 100%;
	height: 100%;
	z-index: 1;
}

/* 헤더 */
header {
	background-color: #12203C;
	max-width: 100%;
	width: 100%;
	// 메인 헤더
	&.header-wrap {
		nav {
			@include l.flex-a-between;
			// 공통 요소
			.left-gnb-wrap ul li article, .right-gnb-wrap .user-wrap ul li article, .right-gnb-wrap .search-wrap article, .right-gnb-wrap .ai-wrap article {
				@include l.width-height(32px, 32px);
				cursor: pointer;
				img {
					@include l.wh-100;
				}
			}
			.left-gnb-wrap {
				padding-left: 1rem;
				ul {
					@include l.flex-a-center-gap(10px);
					li {
						@include l.flex-a-center-gap(4px);
						&.admin-btn-wrap {
							a {
								@include l.flex-a-center;

							}
						}
						label {
							@include f.font(1.2rem, 400, #FFFFFF);
							cursor: pointer;
						}
					}
				}
			}
			.right-gnb-wrap {
				@include l.flex-a-center;
				.search-wrap, .user-wrap ul li {
					@include l.flex-a-center;
				}
				.search-wrap {
					border-left: 1px solid rgba(255, 255, 255, 0.3);
					border-right: 1px solid rgba(255, 255, 255, 0.3);
					padding: 0 1rem;
					input[type='search'] {
						background-color: transparent;
						border: 0;
						&::placeholder {
							color: #DDDDDD;
						}
					}
				}
				.user-wrap {
					border-right: 1px solid rgba(255, 255, 255, 0.3);
				}
			}
		}
	}
	// 어드민 헤더
	&.admin-header-wrap {
		nav {
			@include l.flex-a-center;
			.nav-list-wrap, .user-util-wrap {
				ul {
					@include l.flex-a-center;
					li {
						font-weight: 400;
						color: #FFFFFF;
					}
				}
			}
			.admin-logo-wrap {
				@include l.flex-a-center-gap(4px);
				padding-left: 1rem;
				article {
					border-right: 1px solid #FFFFFF;
				}
				strong {
					@include f.font(1.6rem, 700, #FFFFFF);
				}
			}
			.nav-list-wrap {
				flex: 1;
				ul {
					li {
						text-align: center;
						flex: 1 1 auto;
						font-size: 1.8rem;
						padding: 30px 0;
						&.monitoring {
							label {
								border-bottom: 10px solid #23B0FF;
								padding-bottom: 20px;
								color: #23B0FF;
							}
						}
					}
				}
			}
			.user-util-wrap {
				background-color: #2494D3;
				ul {
					@include l.flex-a-center;
					li {
						@include l.flex-a-center-gap(10px);
						font-size: 1.6rem;
						padding: 32px 10px;
						height: 100%;
						img {
							@include l.width-height(20px, 20px);
						}
					}
				}
			}
		}
	}
}

/* 어드민 바디 */
#admin {
	background: url(@/assets/image/admin-sample.png) no-repeat center;
	background-size: contain;
	margin: 20px auto 0;
	height: calc(100% - 108px);
}

.admin-container {
	background-color: rgb(242, 242, 242);
	height: 100vh;
}

/* 퀵메뉴 */
.top-quick-menu-wrap, .bottom-quick-menu-wrap {
	z-index: 2;
}


.top-quick-menu-wrap {
	@include l.position-absolute-top-right(60px, 10px);
	@include l.flex-a-column-gap(10px);
	.top-wrap, .bottom-wrap {
		ul {
			@include l.flex-a-column;
			li {
				border-bottom: 1px solid #DDDDDD;
				min-width: 40px;
				width: 40px;
				&:first-of-type {
					button[type="button"] {
						border-top-left-radius: 6px;
						border-top-right-radius: 6px;
					}
				}
				&:last-of-type {
					button[type="button"] {
						border-bottom-left-radius: 6px;
						border-bottom-right-radius: 6px;
					}
				}
				button[type="button"] {
					@include l.wh-100;
					cursor: pointer;
					background-color: #FFFFFF;
					padding: 4px 0;
					label {
						@include f.font(1rem, 700, rgba(0, 0, 0, 0.7));
					}
					article {
						i {
							@include l.width-height(20px, 20px);
							display: inline-block;
							&.icon-layer {
								background: url(@/assets/image/header/layer.svg) no-repeat 50%;
							}
							&.icon-area-setting {
								background: url(@/assets/image/header/area-setting.svg) no-repeat 50%;
							}
							&.icon-distance {
								background: url(@/assets/image/header/distance.svg) no-repeat 50%;
							}
							&.icon-distance-circle {
								background: url(@/assets/image/header/distance-circle.svg) no-repeat 50%;
							}
							&.icon-download {
								background: url(@/assets/image/header/download.svg) no-repeat 50%;
							}
							&.icon-capture {
								background: url(@/assets/image/header/capture.svg) no-repeat 50%;
							}
							&.icon-reset {
								background: url(@/assets/image/header/reset.svg) no-repeat 50%;
							}
						}
					}
				}
			}
		}
	}
}

.bottom-quick-menu-wrap {
	@include l.position-absolute-bottom-right(20px, 10px);
	@include l.flex-a-column-gap(10px);
	button[type="button"] {
		@include l.flex-a-j-column-center;
		cursor: pointer;
		background-color: #FFFFFF;
		min-width: 40px;
		width: 40px;
		&:not(.zoom-plus,.zoom-minus) {
			border-radius: 6px;
		}
		&.satellite-map, &.legend-btn {
			border-color: transparent;
			label {
				color: rgba(0, 0, 0, 0.7);
			}
		}
		&.ol-map {
			border: 1px solid #3F7BB5;
			color: #3F7BB5;
		}
		&.legend-btn {
			padding: 3px 0;
		}
		&.zoom-plus {
			border-top-left-radius: 6px;
			border-top-right-radius: 6px;
			border-bottom: 1px solid #DDDDDD;
		}
		&.zoom-minus {
			border-bottom-left-radius: 6px;
			border-bottom-right-radius: 6px;
		}
		label {
			font-size: 1rem;
			font-weight: 700;
		}
		article {
			&:not(.icon-legend) {
				width: 40px;
				height: 30px;
			}
			&.icon-ol {
				padding: 0 1px;
			}
			&.icon-legend {
				@include l.width-height(20px, 20px);
			}
			i {
				@include l.wh-100;
				display: inline-block;
				&:not(.icon-legend) {
					border-top-left-radius: 6px;
					border-top-right-radius: 6px;
				}
				&.icon-ol-map {
					background: url(@/assets/image/map/ol-map.png) no-repeat center;
				}
				&.icon-satellite-map {
					background: url(@/assets/image/map/satellite-map.png) no-repeat center;
				}
				&.icon-legend {
					background: url(@/assets/image/header/legend.svg) no-repeat center
				}
			}
		}
	}
}

