.alarm-container {
  width: 280px;
  font-size: 13px;

  .header {
    height: 36px;
    background-color: #213079;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;

    .bell {
      margin-left: 8px;
    }

    .text {
      margin-left: 4px;
      flex-grow: 1;
    }

    .arrow {
      margin: 0 8px;
    }
  }
}
