.search-container {
  width: 260px;

  ul {
    width: 252px ;
    left: 0 ;
    margin: 5px 0 ;
    padding: 0 ;
    border-radius: 8px ;
    box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.15) ;
    cursor: pointer;
    max-width: 17em;
    background: #fff;
    li {
      text-overflow: inherit ;
      overflow: visible ;
      white-space: inherit ;
      font-size: 14px ;
      word-wrap: break-word ;
      padding: 7px 8px 6px ;
      border-bottom: 1px solid #ddd ;
    }
    li:hover {
      background-color: #1b254c ;
      color: #fff;
    }
  }

  .search-box {
    display: flex;
    align-items: center;
    height: 36px;
    background-color: #2B48D9;


    input {
      padding: 0 8px;
      background-color: #0A2298;
      width: 211px;
      height: 28px;
      margin-left: 4px;
      color: #D1D9FF;
      border: none;
    }

    input::placeholder {
      color: #D1D9FF;
    }

    input:focus {
      outline: none;
    }

    .button {
      display: flex;
      justify-content: center;
      flex-grow: 1;
      cursor: pointer;

      .search-icon {
        padding: 2px 8px;
      }

      .close {
        color: white;
      }
    }
  }
}