@charset "UTF-8";
@import '../../mixin';

.alarm-container {
  @include position-absolute-top-right(0,0);
  z-index: var(--zIndex-UI-Alarm-Pannel);
  height: 100vh;
  .alarm-wrap {
    background-color: rgba(48,56,95,0.9);
    min-width: 320px;
    width: 320px;
    height: 100%;
    .alarm-title-wrap {
      @include flex-a-between;
      border-bottom: 1px solid #72799E;
      padding: 10px 20px;
      strong {
        @include font($font-size-18 + 2,$font-weight-bold,$font-color-white);
      }
      .alarm-util-btn-wrap {
        @include flex-a-center-gap(10px);
        li {
          cursor: pointer;
          &:last-of-type {
            @include width-height(30px,30px);
            img {
              @include wh-100;
            }
          }
        }
        .alarm-clear {
          background-color: #060C2D;
          border-radius: 2px;
          padding: 12px;
          button[type="button"] {
            @include font($font-size-14,$font-weight-extra-bold,#D1D9FF);
          }
        }
        .alarm-setting {
          @include width-height(30px,30px);
          img {
            @include wh-100;
          }
        }
      }
    }
    .alarm-contetns-wrap {
      @include flex-a-column-gap(14px);
      padding: 20px 20px 0 20px;
      height: calc(100% - 64px);
      overflow-y: auto;
      overflow-x: hidden;
      &::-webkit-scrollbar {
        display: none;
      }
      .alarm-content-box {
        @include flex-a-center-gap(10px);
        cursor: pointer;
        border: 1px solid #72799E;
        min-width: 280px;
        width: 280px;
        padding: 12px;
        .alarm-contents {
          ul {
            li {
              line-height: 1.4;
              &:first-of-type {
                @include font($font-size-16,$font-weight-bold,$font-color-white);
              }
              &:nth-of-type(2) {
                @include font($font-size-14,$font-weight-regular,#D1D9FF);
              }
              &:last-of-type {
                @include font($font-size-15,$font-weight-regular,$font-color-white);
              }
            }
          }
        }
      }
    }
  }
}



















