@charset "UTF-8";
@import '../mixin';

/* 페이지네이션 */
.pagination-wrap {
  @include flex-a-j-center();
  margin-top: 20px;
  padding: 6px;
  .btn-area {
    @include flex-a-center-gap(16px);
    button[type="button"],span {
      @include width-height(20px,20px);
    }
    small {
      @include font($font-size-12,$font-weight-regular,#757575);
      @include width-height(20px,20px);
      @include flex-a-j-center();
      cursor: pointer;
      &.current {
        background-color: #213079;
        color: $font-color-white;
        border-radius: 4px;
      }
    }
    button[type='button'] {
      span {
        display: inline-block;
        border-radius: 4px;
        &.prev {
          background: url("@/assets/img/shipDetail/pagination_arrow_right.svg") no-repeat center #F4F4F4;
          transform: rotate(180deg);
        }
        &.p-prev {
          background: url("@/assets/img/shipDetail/pagination_arrow_double.svg") no-repeat center #F4F4F4;
        }
        &.next {
          background: url("@/assets/img/shipDetail/pagination_arrow_right.svg") no-repeat center #F4F4F4;
        }
        &.n-next {
          background: url("@/assets/img/shipDetail/pagination_arrow_double.svg") no-repeat center #F4F4F4;
          transform: rotate(180deg);
        }
      }
    }
  }
}