@use "@/assets/scss/layout" as L;

/* 멀티셀렉트 컨테이너 */
.multi-select-wrap {
	position: relative;
	max-width: 100%;
	width: 100%;
	/* 멀티 셀렉트 박스 */
	.multi-select-header {
		@include L.flex-a-center;
		background-color: #F2F2F2;
		width: 100%;
		min-height: 40px;
		padding: 0 8px;
		input[type="text"] {
			background-color: inherit;
			cursor: default;
			width: 100%;
			border: 0;
			&::placeholder {
				color: #000000;
			}
			&:focus-visible {
				outline: none;
			}
		}
		article {
			cursor: pointer;
			min-width: 20px;
			min-height: 20px;
			width: 20px;
			height: 20px;
			img {
				vertical-align: baseline;
				width: 100%;
				height: 100%;
			}
		}
	}
	/* 멀티 셀렉트 드롭다운 바디 */
	.multi-select-body {
		transition: max-height 0.3s ease, opacity 0.3s ease;
		//max-height: 0;
		max-width: 100%;
		width: 100%;
		height: 40px;
		//opacity: 0;
		&.show {
			max-height: 200px;
			opacity: 1;
			.multi-select-content-wrap {
				display: block;
			}
		}
		.multi-select-content-wrap {
			display: none;
			max-height: 200px;
			max-width: 100%;
			width: 100%;
			overflow-y: auto;
			padding: 8px;
			/* 루트 드롭 다운 선택 박스 */
			.multi-select-content-header {
				border-bottom: 1px solid rgba(255, 255, 255, 0.2);
			}
			/* 스크롤바 제어 */
			&::-webkit-scrollbar {
				background: transparent;
				width: 6px;
			}
			&::-webkit-scrollbar-thumb {
				background: #686A76;
				border-radius: var(--bs-border-radius);
			}
		}
	}
}

/* 체크 박스 영역 */
.multi-select-checkbox-wrap {
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 6px;
	min-height: 34px;
	height: 34px;
}

.multi-select-checkbox-wrap .multi-select-checkbox {
	width: 20px;
	height: 20px;
}

.multi-select-checkbox-wrap .multi-select-checkbox input[type="checkbox"] {
	display: none;
}

.multi-select-checkbox-wrap .multi-select-checkbox label {
	cursor: pointer;
	border-radius: var(--bs-border-radius);
	background-color: #093459;
	transition: all 0.2s ease-in-out;
	width: 100%;
	height: 100%;
}

/* 체크 상태 스타일링 */
.multi-select-checkbox-wrap .multi-select-checkbox input:checked + label {
	background: url(@/assets/image/check-lg.svg) #093459;
}

/* 체크 아이콘 */
.multi-select-checkbox-wrap .multi-select-checkbox input:checked + label::after {
	background: url(@/assets/image/check-lg.svg) #093459;
}

/* 드롭다운 자식 요소 */
.multi-select-content-wrap .multi-select-content .multi-select-sub-menu-wrap {
	padding-left: 20px;
}