@use "@/assets/scss/layout" as L;
@use "@/assets/scss/font_variable" as F;

.tree-container {
	width: 100%;
	.tree-wrap {
		width: 100%;
		.root-wrap {
			width: 100%;
			.list-wrap {
				&.root {
					background-color: #f1f3f4;
				}
				.list-content-wrap {
					@include L.flex-a-center;
					justify-content: space-between;
					cursor: pointer;
					min-height: 32px;
					height: 32px;
					padding: 8px;
					.title-check-wrap {
						@include L.flex-a-center-gap(6px);
						.check-wrap {
							input[type="checkbox"] {
								@include L.width-height(18px, 18px);
							}
						}
							.title-wrap {
								@include F.font(16px, 400, black);
							}
					}
					.arrow-wrap {
						@include L.width-height(20px, 20px);
						&.open {
							transform: rotate(180deg);
						}
						img {
							@include L.wh-100;
						}
					}
				}
			}
		}
	}
}