:root,
[data-bs-theme=light] {
    --gc-main-banner-bg: #e9f7ff;
    --gc-main-icon-bg: #ddf3ff;
    --gc-main-icon-refresh: url("@/custom/assets/img/admin/refresh.svg");
    --gc-main-icon-search: url("@/custom/assets/img/admin/search.svg");
}

[data-bs-theme=dark] {
    --gc-main-banner-bg: rgba(233, 247, 255, 0.15);
    --gc-main-icon-bg: rgba(221, 243, 255, 0.1);
    --gc-main-icon-refresh: url("@/custom/assets/img/admin/refresh2.svg");
    --gc-main-icon-search: url("@/custom/assets/img/admin/search2.svg");
}

pre {
    font-family: var(--bs-font-sans-serif);
    margin-bottom: 0;
    font-size: 14px;
}

.bg-boundary {
    background-color: var(--bs-orange) !important;
}

.admin-weather-group {
    display: flex;
    align-items: center;
    gap: 20px;
    .image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90px;
    }
    .image-weather {
        width: 70px;
        height: 70px;
    }
    .info {
        flex: 1 0 0%;
    }
    .info1 {
        text-align: center;
        font-size: 15px;
        margin-bottom: 3px;;
    }
    .info2 {
        font-size: 32px;
        font-weight: 700;
        white-space: nowrap;
        .unit {
            font-size: 16px;
            font-weight: 400;
            color: #666;
        }
    }
    .info3, .info4 {
        display: flex;
        align-items: center;
    }
}

.aeest-group {
    display: flex;
    gap: 10px;

    .aeest-item {
        display: flex;
        align-items: center;
        flex: 1 0 0%;
        border: 1px solid var(--bs-border-color);
        padding: 10px 30px;
        height: 80px;

        .name {
            display: flex;
            align-items: center;
            font-size: 18px;
        }

        .icon-aeest {
            margin-right: 5px;
        }

        .data {
            display: flex;
            align-items: center;
            margin-left: auto;

            .number {
                font-size: 24px;
                font-weight: 700;
                text-align: right;

                .form-control {
                    width: 100px;
                    font-size: 24px;
                    font-weight: 700;
                    text-align: right;
                }
            }

            .unit {
                margin-left: 5px;
                color: var(--gc-info-text);
            }
        }
    }
}

.bg-detail {
    background-color: var(--gc-search-bg) !important;
}

.btn-month {
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-border-color: #ddd;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #2494d3;
    --bs-btn-hover-border-color: #2494d3;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #2494d3;
    --bs-btn-active-border-color: #2494d3;
    --bs-btn-disabled-color: #ddd;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #ddd;
    --bs-gradient: none;
    width: 40px;
    height: 40px;
}

.chart-donut-group {
    position: relative;

    .chart-group {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }

    .chart-donut-item {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &.semi-circle {
            justify-content: end;
            padding-bottom: 20px;
        }

        .name {
            display: flex;
            align-items: center;
            font-size: 18px;
            color: #666;
        }

        .data {
            display: flex;
            align-items: center;
            line-height: 1.2;

            .number {
                font-size: 38px;
                font-weight: 700;
            }

            .unit {
                font-size: 20px;
                margin-left: 5px;
                color: #666;
            }
        }
    }

    &.size-sm {
        .chart-donut-item {    
            .name {
                font-size: 15px;
            }
    
            .data {
                .number {
                    font-size: 25px;
                }  
            }
        }
    }
}

.chart-legend-group {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 0%;

    .chart-legend-item {
        display: flex;
        flex-direction: column;
        padding: 20px;

        .name {
            display: flex;
            align-items: center;

            .chart-legend {
                display: block;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                margin-right: 8px;

                &.color1 {
                    background-color: #caecff;
                }

                &.color2 {
                    background-color: #90d7ff;
                }

                &.color3 {
                    background-color: #23b0ff;
                }

                &.color4 {
                    background-color: #0d92dc;
                }
            }

            .text {
                font-size: 14px;
                color: #666;
            }
        }

        .data {
            display: flex;
            align-items: center;
            margin-left: 20px;

            .number {
                font-size: 20px;
                font-weight: 700;
            }

            .unit {
                margin-left: 5px;
                color: #666;
            }
        }
    }

    &.no-data {
        gap: 20px;
        .chart-legend-item {
            padding: 0;
        }
    }
    
    &.main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        
        .chart-legend-item {
            flex-direction: row;
            align-items: center;
            padding: 0;
            .name {
                display: flex;
                align-items: center;
                width: 85px;

                .chart-legend-icon {
                    display: block;
                    width: 30px;
                    height: 30px;
                    background-color: var(--gc-main-icon-bg);
                    border-radius: 4px;
                    margin-right: 8px;
                }

                .text {
                    font-size: 14px;
                    color: #666;
                }
            }

            .data {
                font-size: 20px;
                font-weight: 700;
            }
        }
    }
}

.chart-group.min-height {
    min-height: 250px;
}

.datetime-group {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    padding-bottom: 10px;

    .datetime-item {
        display: flex;
        align-items: center;
        width: 100%;

        .picker {
            display: flex;
            justify-content: space-around;
            flex: 1 0 0%;

            .progress-group {
                width: 95%;
            }
        }

        .unit {
            flex: 0 0 auto;
            width: auto;
            margin-left: 20px;
            font-weight: 700;
        }
    }
}

.filter-group {
    display: flex;
    align-items: center;
    background-color: var(--gc-search-bg);
    padding: 15px 20px;
}

.icon-admin {
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;

    &.icon-mdi {
        width: 20px;
        height: 20px;

        &.icon-grid {
            width: 16px;
            height: 16px;
        }

        &.icon-arrow-right-bottom {
            width: 12px;
            height: 12px;
        }
    }

    &.icon-aeest {
        width: 26px;
        height: 26px;
        background-color: #2494d3;
        border-radius: 50%;

        &.icon-setting {
            background-image: url("@/custom/assets/img/admin/setting_outline_w.svg");
            background-size: 14px;
        }

        &.icon-waiting {
            background-image: url("@/custom/assets/img/admin/time_w.svg");
            background-size: 15px;
        }
    }

    &.icon-legend {
        width: 30px;
        height: 30px;

        &.icon-legend1 {
            background-image: url("@/custom/assets/img/admin/blue_line_sm1.svg");
            background-size: 14px;
        }
        &.icon-legend2 {
            background-image: url("@/custom/assets/img/admin/blue_line_sm2.svg");
            background-size: 14px;
        }
        &.icon-legend3 {
            background-image: url("@/custom/assets/img/admin/blue_line_sm3.svg");
            background-size: 14px;
        }
    }

    &.icon-button {
        width: 18px;
        height: 18px;

        &.icon-sm {
            width: 12px;
            height: 12px;
        }

        &.size-30 {
            width: 30px;
            height: 30px;
        }

        &.icon-check {
            background-image: url("@/custom/assets/img/admin/check.svg");
        }

        &.icon-close {
            background-image: url("@/custom/assets/img/admin/close.svg");
        }

        &.icon-download {
            background-image: url("@/custom/assets/img/admin/download.svg");
        }

        &.icon-refresh {
            background-image: var(--gc-main-icon-refresh);
            background-size: 24px;
        }

        &.icon-refresh2 {
            background-image: url("@/custom/assets/img/admin/refresh2.svg");
        }

        &.icon-information-sm {
            background-image: url("@/custom/assets/img/admin/information_sm.svg");
        }

        &.icon-search {
            background-image: var(--gc-main-icon-search);
            background-size: 22px;
        }

        &.icon-search2 {
            background-image: url("@/custom/assets/img/admin/search2.svg");
            background-position: center right;
            background-size: 14px;
        }
        
        &.icon-arrow-right {
            background-image: url("@/custom/assets/img/admin/arrow1_right.svg");
            background-size: 10px;
        }

        &.icon-prev {
            background-image: url("@/custom/assets/img/admin/arrow_down.svg");
            transform: rotate(90deg);
        }

        &.icon-next {
            background-image: url("@/custom/assets/img/admin/arrow_down.svg");
            transform: rotate(-90deg);
        }
    }

    &.icon-nav {
        width: 24px;
        height: 24px;

        &.icon-chart-bar {
            background-image: url("@/custom/assets/img/admin/chart_bar.svg");
        }

        &.icon-user {
            background-image: url("@/custom/assets/img/admin/user.svg");
        }

        &.icon-logout {
            background-image: url("@/custom/assets/img/admin/logout.svg");
        }

        &.icon-login {
            background-image: url("@/custom/assets/img/admin/login.svg");
        }
    }

    &.icon-information {
        width: 30px;
        height: 30px;
        background-image: url("@/custom/assets/img/admin/information.svg");
    }

    &.icon-home {
        width: 18px;
        height: 18px;
        background-image: url("@/custom/assets/img/admin/home.svg");
    }

    &.icon-form {
        width: 20px;
        height: 20px;

        &.icon-clip {
            background-image: url("@/custom/assets/img/admin/clip.svg");
        }

        &.icon-arrow-up {
            background-image: url("@/custom/assets/img/admin/arrow_up.svg");
        }

        &.icon-arrow-down {
            background-image: url("@/custom/assets/img/admin/arrow_down.svg");
        }
    }

    &.icon-weather {
        width: 20px;
        height: 20px;

        &.icon-wind {
            background-image: url("@/custom/assets/img/admin/wind.svg");
        }

        &.icon-wave {
            background-image: url("@/custom/assets/img/admin/wave.svg");
        }
    }

    &.icon-passage {
        width: 40px;
        height: 40px;

        &.icon-passage1 {
            background-image: url("@/custom/assets/img/admin/blue_line1.svg");
        }
        &.icon-passage2 {
            background-image: url("@/custom/assets/img/admin/blue_line2.svg");
        }
        &.icon-passage3 {
            background-image: url("@/custom/assets/img/admin/blue_line3.svg");
        }
        &.icon-passage4 {
            background-image: url("@/custom/assets/img/admin/blue_line4.svg");
        }
        &.icon-passage5 {
            background-image: url("@/custom/assets/img/admin/blue_line5.svg");
        }
        &.icon-passage6 {
            background-image: url("@/custom/assets/img/admin/blue_line6.svg");
        }
        &.icon-passage7 {
            background-image: url("@/custom/assets/img/admin/blue_line7.svg");
        }
        &.icon-passage8 {
            background-image: url("@/custom/assets/img/admin/blue_line8.svg");
        }
    }
}

.list-style-square {
    list-style: none;
    padding: 0;
    margin: 0;

    li, dt {
        position: relative;
        padding-left: 8px;

        &::before {
            content: "";
            position: absolute;
            top: 7px;
            left: 0;
            display: block;
            width: 4px;
            height: 4px;
            background-color: #888888;
        }
    }

    li.top-12::before {
        top: 12px;
    }
}

dl.list-style-square {
    display: flex;
    align-items: center;

    dt {
        margin-right: 10px;
        color: #666;
        font-weight: 400;
    }
    dd {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 0;
        color: var(--bs-body-color);
    }
    dd+dt {
        margin-left: 20px;
    }
    .unit {
        font-size: 14px;
        color: #666;
    }
}

.list-arrow-item {
    display: flex;
    align-items: center;
    padding: 0 30px 0 0;
    background: url("@/custom/assets/img/admin/arrow1_right.svg") no-repeat right center;

    &.main {
        .chart-donut-group {
            width: 68px;
            margin-right: 20px;

            .name {
                font-size: 13px;
            }
    
            .data {    
                .number {
                    font-size: 18px;
                }
    
                .unit {
                    font-size: 10px;
                    margin-left: 3px;
                }
            }
        }
    }

    .item-info {
        display: flex;
        flex-direction: column;
        width: 100%;

        .text-info1 {
            font-size: 17px;
            font-weight: 700;
            small {
                color: #666;
                font-weight: 400;
            }
        }

        .text-info2 {
            display: flex;
            align-items: center;
            margin-top: 3px;

            .name {
                font-size: 15px;
                color: #666;
                margin-right: 5px;
            }

            .data {
                font-size: 15px;
                font-weight: 700;
            }
        }
        .text-info3 {
            .row, .col, .flag {
                display: flex;
                align-items: center;
            }
            .col-sm-auto {
                display: flex;
                justify-content: center;
            }

            .name {
                font-size: 15px;
                color: #666;
                margin-right: 5px;
            }

            .data {
                font-size: 15px;
                font-weight: 700;
            }
        }
    }
}

.main-banner-group {
    display: flex;
    align-items: stretch;
    gap: 20px;
    .items-group {
        flex: 0 0 auto;
        width: calc(33.33333333% - 13px);
        background-color: var(--gc-main-banner-bg);
        .header {
            padding: 10px 10px 10px 20px;
            .title {
                font-size: 18px;
                font-weight: 700;
            }
        }
        .body {
            padding: 0 20px 10px;
        }
    }
    dl.list-style-square {
        flex-wrap: wrap;
        dt {
            width: 45px;
        }
        dd {
            font-size: 14px;
            width: calc(100% - 55px);
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        dd+dt {
            margin-left: 0;
        }
    }
}

.main-search {
    flex: 1 0 0%;
    background-color: var(--bs-body-bg);
    border: 1px solid var(--bs-border-color);
    .form-control {
        border: 0;
    }
}

.mt-header {
    margin-top: 60px;
}

.nav-underline {
    --bs-nav-underline-gap: 30px;
    --bs-nav-underline-border-width: 5px;
    --bs-nav-underline-link-active-color: #23b0ff;
    border-bottom: 1px solid #ddd;
    /* &.tab-chart + .tab-content {
        height: calc(100vh - 635px);
        overflow: auto;
    } */
}

.nav-underline .nav-link {
    --bs-nav-link-font-size: 16px;
    color: #666;
}

.nav-underline .nav-link.active,
.nav-underline .show>.nav-link {
    color: var(--bs-body-color);
    border-bottom-color: var(--bs-nav-underline-link-active-color);
}

.p-main {
    padding: 20px 30px;
}

.passage-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .passage-item {
        display: flex;
        flex: 0 0 auto;
        width: calc(25% - 10px);
    }
    .passage-icon {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 4px;
        background-color: var(--gc-main-icon-bg);
        margin-right: 10px;
    }
    .passage-info {
        display: flex;
        flex-direction: column;
        .name {
            color: #666;
            line-height: 1;
        }
        .data {
            font-size: 18px;
            font-weight: 700;
            line-height: 1.4;
        }
    }
}

.progress-group {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;

    .progress-bar-track {
        position: absolute;
        top: 0px;
        left: 0;
        height: 5px !important;
        border-radius: 15px !important;
        background-color: #2494d3;
        z-index: 3;
    }

    .data {
        position: absolute;
        top: -17px;
        right: -28px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        border-radius: 50%;
        background-color: #2494d3;
        cursor: pointer;
    }

    input[type="range"] {
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        height: 5px;
        border-radius: 15px;
        outline: none;
        background: #ddd;
    }

    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none !important;
        appearance: none !important;
        position: relative;
        height: 40px;
        width: 40px;
        background-color: transparent;
        cursor: pointer;
        border-radius: 50%;
        z-index: 2;
    }

    input[type="range"]::-moz-range-thumb {
        -moz-appearance: none !important;
        appearance: none !important;
        position: relative;
        height: 40px;
        width: 40px;
        background-color: transparent;
        cursor: pointer;
        border-radius: 50%;
        border: none;
        z-index: 2;
    }
}

.search-status-group {
    display: flex;
    gap: 5px;
    height: 100%;

    .search-status-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 130px;
        height: 100%;
        color: #fff;
        text-align: center;

        &.bg1 {
            background-color: #262b44;
        }

        &.bg2 {
            background-color: #2494d3;
        }

        &.bg3 {
            background-color: #aaa;
        }

        .name {
            font-size: 15px;
            font-weight: 500;
        }

        .data {
            font-size: 22px;
            font-weight: 700;
        }
    }
}

.tab-button {
    position: absolute;
    top: 20px;
    right: 30px;
}

.vts-group {
    position: relative;
    .vts-inner {
        position: relative;
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        padding: 0 30px;
    }
    .vts-control {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        height: auto;
    }
    .vts-control-prev {
        left: -10px;
    }
    .vts-control-next {
        right: -10px;
    }
    .vts-item {
        display: flex;
        align-items: center;
        flex: 0 0 auto;
        width: 33.33333333%;
        .vts-circle {
            display: block;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            margin-right: 5px;
        }
        .circle-on {
            background-color: #23b0ff;
        }
        .circle-off {
            background-color: #90d7ff;
        }
    }
}

.pollution-status-group1 {
    .card-header {
        display: flex;
        align-items: center;
        .title-info {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 18px;
            font-weight: 600;
            .title-value {
                font-size: 14px;
                color: var(--bs-secondary);
                span {
                    font-size: 24px;
                    font-weight: 600;
                    color: var(--bs-primary);
                    padding-right: 4px;
                }
            }
        }
    }
    .card-body {
        display: flex;
        align-items: center;
        &.border-bottom {
            background-color: rgba(4, 4, 4, 0.01);
        }
        .body-info {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            width: 100%;
            >.body-info-item {
                display: flex;
                flex: 0 0 auto;
                width: 33.33333333%;
                justify-content: center;
                align-items: center;
                gap: 4px;
            }
        }
        .body-info1 {            
            font-size: 16px;
            .info-value {
                font-size: 14px;
                color: var(--bs-secondary);
                span {
                    font-size: 20px;
                    font-weight: 600;
                    color: var(--bs-primary);
                    padding-right: 4px;
                }
            }
        }
        .body-info2 { 
            padding: 5px 0;
            .info-value {
                font-size: 12px;
                color: var(--bs-secondary);
                span {
                    font-size: 18px;
                    font-weight: 600;
                    color: var(--bs-primary);
                    padding-right: 4px;
                }
            }
        }
    }
}

.pollution-status-group2 {
    .card-header {
        display: flex;
        align-items: center;
        .title-info {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 18px;
            color: #fff;
            line-height: 1;
            font-weight: 600;
            .title-value {
                .badge {
                    border: 1px solid #fff;
                }
            }
        }
    }
    .card-body {
        padding: 10px;
        .pollution-statu-info {
            dl {
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 0;
                dt {
                    width: 60px;
                }
                dd {
                    width: calc(100% - 60px);
                }
            }
        }
    }
}
.pollution-status-group3 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    width: 100%;
    .info-item {
        display: flex;
        flex: 0 0 auto;
        width: calc(50% - 4px);
        justify-content: center;
        align-items: center;
        gap: 8px;
        font-size: 18px;
        color: #fff;
        padding: 10px;
        .info-name {
            font-weight: 600;
        }
        .info-value {
            font-size: 14px;
            span {
                font-size: 24px;
                font-weight: 600;
                color: #ffe784;
                padding-right: 4px;
            }
        }
        &.bg1 {
            background-color: #2494d3;
        }
        &.bg2 {
            background-color: #262b44;
        }
    }
}

//// Main Layout
.admin-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--gc-search-bg);
    min-width: 1700px;

    .navbar {
        --bs-navbar-padding-x: 0;
        --bs-navbar-padding-y: 0;
        --bs-navbar-color: #fff;
        --bs-navbar-hover-color: #23b0ff;
        --bs-navbar-disabled-color: #666;
        --bs-navbar-active-color: #23b0ff;
        --bs-navbar-brand-padding-y: 0;
        --bs-navbar-brand-margin-end: 20px;
        --bs-navbar-brand-font-size: 16px;
        --bs-navbar-brand-color: #fff;
        --bs-navbar-brand-hover-color: #fff;
        --bs-navbar-nav-link-padding-x: 10px;
        display: flex;
        align-items: center;
        height: 80px;
        background-color: var(--gc-header-bg1);

        .navbar-brand {
            display: flex;
            align-items: center;
            gap: 10px;
            padding-left: 20px;

            .logo-admin {
                display: block;
                width: 120px;
                height: 40px;
                background-image: url("@/custom/assets/img/admin/logo.svg");
                background-size: 120px;
                background-repeat: no-repeat;
                background-position: center center;
            }

            .name {
                font-weight: 700;
            }
        }

        .navbar-nav {
            height: 100%;

            .nav-item.dropdown {
                .dropdown-toggle::after {
                    border-top: 0;
                    border-right: 0;
                    margin: 0;
                }
                .dropdown-menu {
                    --bs-dropdown-min-width: 140px;
                    --bs-dropdown-padding-x: 5px;
                    --bs-dropdown-padding-y: 5px;
                    --bs-dropdown-spacer: -8px;
                    --bs-dropdown-font-size: 16px;
                    /* --bs-dropdown-divider-margin-y: 5px; */
                    --bs-dropdown-link-color: var(--bs-body-color);
                    --bs-dropdown-link-hover-color: #fff;
                    --bs-dropdown-link-hover-bg: #2494d3;
                    --bs-dropdown-link-active-color: #fff;
                    --bs-dropdown-link-active-bg: #2494d3;
                    --bs-dropdown-link-disabled-color: rgba(var(--gc-item-bg), 0.8);
                    --bs-dropdown-item-padding-x: 10px;
                    --bs-dropdown-item-padding-y: 4px;
                    /* --bs-dropdown-header-color: #6c757d;
                    --bs-dropdown-header-padding-x: 1rem;
                    --bs-dropdown-header-padding-y: 0.5rem; */
                }
                .dropdown-item {
                    font-weight: 500;
                }
            }

            &.nav-gnb {
                .nav-link {
                    padding-left: 15px;
                    padding-right: 15px;

                    &:hover,
                    &:focus {
                        color: #fff;
                    }

                    &.nav-bg1 {
                        background-color: #3e4bb9;
                    }

                    &.nav-bg2 {
                        background-color: #2494d3;
                    }

                    &.nav-login {
                        width: 213px;
                    }

                    .icon-nav {
                        margin-right: 5px;
                    }
                }
            }

            .nav-link {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                white-space: nowrap;
                font-size: 16px;
                font-weight: 700;

                &.active {
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 7px;
                        background-color: #23b0ff;
                    }
                }
            }
        }
    }

    .admin-content {
        width: 100%;
        height: calc(100% - 80px);
        display: flex;
    }

    .lnb {
        position: relative;
        z-index: 3;
        display: flex;
        flex-direction: column;
        width: 230px;
        height: 100%;
        background-color: var(--bs-body-bg);

        .lnb-menu-title {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100px;
            font-size: 28px;
            font-weight: 700;
            border-bottom: 4px solid #23b0ff;
        }

        .lnb-menu {
            .list-group {
                --bs-list-group-color: var(--bs-heading-color);
                --bs-list-group-item-padding-x: 20px;
                --bs-list-group-item-padding-y: 15px;
                --bs-list-group-action-color: #2494d3;
                --bs-list-group-action-hover-color: #2494d3;
                --bs-list-group-action-hover-bg: var(--bs-body-bg);
                --bs-list-group-action-active-color: #2494d3;
                --bs-list-group-action-active-bg: var(--bs-body-bg);
                --bs-list-group-disabled-color: #666;
                --bs-list-group-disabled-bg: var(--bs-body-bg);
                --bs-list-group-active-color: #2494d3;
                --bs-list-group-active-bg: var(--bs-body-bg);
                --bs-list-group-active-border-color: var(--bs-list-group-border-color);

                a {
                    font-size: 18px;
                    font-weight: 700;

                    &:active,
                    &.active {
                        font-weight: 800;
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .contents {
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 1 0 0%;
        height: 100%;
        padding: 0 20px 20px;

        &.main {
            padding-top: 20px;

            .contents-items {
                padding: 0;
            }
        }

        .contents-items {
            background-color: var(--bs-body-bg);
            width: 100%;
            height: 100%;
            padding: 30px 40px;
            overflow: auto;

            .contents-title {
                display: flex;
                align-items: center;
                font-size: 28px;
                font-weight: 700;
                color: var(--bs-heading-color);

                .btn {
                    min-width: 80px;
                }
            }
            .contents-info {
                font-size: 16px;
            }
        }
    }

    .breadcrumb-group {
        nav {
            --bs-breadcrumb-divider: ">";
        }

        .breadcrumb {
            --bs-breadcrumb-padding-y: 10px;
            --bs-breadcrumb-margin-bottom: 0;
            --bs-breadcrumb-divider-color: #999;
            --bs-breadcrumb-item-padding-x: 10px;
            --bs-breadcrumb-item-active-color: var(--bs-heading-color);

            a {
                text-decoration: none;
                color: #666;
            }
        }
    }
}