body {
  font-family: 'NanumSquare', sans-serif;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.bg-img {
  background-image: url('src/assets/bg_login.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.login-box {
  width: 634px;
  height: 440px;
  background-color: #11154b;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
  top: 280px;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.main-logo {
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  width: 188px;
  height: 54px;
  background: url('src/assets/police_logo.svg') no-repeat center / contain;
}

.sub-logo {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 36px;
  background: url('src/assets/main_logo_login.svg') no-repeat center / contain;
}

.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 540px;
  transform: translate(-50%, -50%);
}

// 로그인 폼 내부
.custom-group {
  display: flex;
  flex-direction: column;
  width: 100%;

  input {
    width: 100%;
    height: 50px;
    margin-top: -0.25rem;
    padding: 0.625rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;


    &::placeholder {
      color: #898f9d;
    }
  }
}

.remember-wrapper label {
  color: #fff;
}

.custom-login-btn {
  width: 100%;
  height: 50px;
  background-color: #008aff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 24px;

  &:hover,
  &:active {
    background-color: #3ca6ff;
  }
}

.links-wrapper {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  gap: 20px;
  font-weight: 100;

  a {
    color: #fff;
    text-decoration: none;
    position: relative;

    &:hover {
      text-decoration: underline;
      opacity: 2;
    }

    & + a::before {
      content: '';
      position: absolute;
      height: 16px;
      left: -10px;
      top: 50%;
      transform: translateY(-50%);
      border-left: 1px solid #ccc;
    }
  }
}

.divider-line {
  display: flex;
  align-items: center;
  text-align: center;
  color: #888aa3;
  margin: 44px 0 24px 0;
  font-size: 0.875rem;

  &::before,
  &::after {
    content: '';
    flex: 1;
    height: 1px;
    background: #34366d;
  }

  span {
    margin: 0 0.75rem;
  }
}

// GPKI 버튼부터

.button-row {
  display: flex;
  justify-content: center;
  gap: 1rem;

  .full-width-btn {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2a2c5b !important;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 1.5rem;
    padding: 12px;
    cursor: pointer;
  }
}

.icon-left {
  margin-right: 8px;
  vertical-align: middle;
}

// .copy-right{
//   position: fixed;
//   bottom: 28%;
//   left: 50%;
//   transform: translateX(-50%);
//   font-size: 0.75rem;
//   color: rgba(255, 255, 255, 0.5);
//   text-align: center;
//   letter-spacing: 0;
// }

// ========== 반응형 ==========

@media (max-width: 1440px) {
  .login-box {
    width: 600px;
  }

  .login-form {
    width: 460px;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .login-box {
    width: 634px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .main-logo,
  .sub-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .login-form {
    width: 80%;

    .remember-wrapper {
      font-size: 1rem;
    }

    .links-wrapper a {
      font-size: 1rem;
    }
  }
}

@media (min-width: 375px) and (max-width: 768px) {
  .login-box {
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .main-logo,
  .sub-logo {
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .login-form {
    width: 80%;

    .remember-wrapper {
      font-size: 1rem;
    }

    .links-wrapper a {
      font-size: 1rem;
    }
  }
}

@media (min-width: 100px) and (max-width: 375px) {
  .login-box {
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .main-logo {
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .sub-logo {
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .login-form {
    width: 80%;
  }
}
